In [1]:
import seaborn as sns

In [2]:
#importing library and dataset over seaborn
import seaborn as sns
df=sns.load_dataset("titanic")
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [3]:
#get top 10 numeric features
df_numeric=df._get_numeric_data().head(10)
df_numeric

   survived  pclass   age  sibsp  parch     fare  adult_male  alone
0         0       3  22.0      1      0   7.2500        True  False
1         1       1  38.0      1      0  71.2833       False  False
2         1       3  26.0      0      0   7.9250       False   True
3         1       1  35.0      1      0  53.1000       False  False
4         0       3  35.0      0      0   8.0500        True   True
5         0       3   NaN      0      0   8.4583        True   True
6         0       1  54.0      0      0  51.8625        True   True
7         0       3   2.0      3      1  21.0750       False  False
8         1       3  27.0      0      2  11.1333       False  False
9         1       2  14.0      1      0  30.0708       False  False

In [4]:
#highlight max values in each columns
def highlight_max(s):
    is_max = s == s.max()
    return ['background-color: yellow' if v else '' for v in is_max]

df_numeric.style.apply(highlight_max)

In [5]:
df.head(25).style.bar(
    color="lightgreen")

In [6]:
#change background color and color of text
df_numeric.style.set_properties(**{'background-color': 'black',
                            'color': 'lawngreen',
                            'border-color': 'white'})

In [7]:
#Bar Charts Styling
df_numeric.style.bar(subset=['age', 'fare'], color='#d65f5f')

In [8]:
#styling just desired column>fare
df_numeric.style.bar(subset=['fare'], color='green')

In [9]:
# Compress the color range
(df.loc[:9]
    .style
    .background_gradient(cmap='viridis', low=.5, high=0)
    .highlight_null('red'))

In [10]:
import seaborn as sns
df=sns.load_dataset("tips")
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [11]:
# Compress the color range
(df.loc[:9]
    .style
    .background_gradient(cmap='viridis', low=.5, high=0)
    .highlight_null('red'))

In [12]:
df.head(15).style.set_properties(**{'background-color': 'black',
                           'color': 'red'})

In [13]:
# giving border to dataframe
df.head(10).style.set_table_styles([{'selector' : '',
                            'props' : [('border',
                                        '20px solid blue')]}])

In [14]:
# generating pairwise correlation
corr = df.corr()
  
# Displaying dataframe as an heatmap 
# with diverging colourmap as coolwarm
corr.style.background_gradient(cmap ='coolwarm')

In [15]:
# Declaring the cm variable by the
# color palette from seaborn
cm = sns.light_palette("green", as_cmap=True)
 
# Visualizing the DataFrame with set precision
print("\nModified Stlying DataFrame:")
df.style.background_gradient(cmap=cm).set_precision(2)

Modified Stlying DataFrame:

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: FutureWarning: this method is deprecated in favour of `Styler.format(precision=..)`
  import sys

In [16]:
# Python program to generate a heatmap
# which displays the value in each cell 
# corresponding to the given dataframe 
  
# import required libraries
import pandas as pd
  
# defining index for the dataframe
idx = ['1', '2', '3', '4']
  
# defining columns for the dataframe
cols = list('ABCD')
  
# entering values in the index and columns  
# and converting them into a panda dataframe
df = pd.DataFrame([[10, 20, 30, 40], [50, 30, 8, 15],
                   [25, 14, 41, 8], [7, 14, 21, 28]],
                   columns = cols, index = idx)
  
# displaying dataframe as an heatmap 
# with diverging colourmap as virdis
df.style.background_gradient(cmap ='viridis')\
        .set_properties(**{'font-size': '20px'})

# resources
* **https://www.geeksforgeeks.org/**
* **https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.io.formats.style.Styler.bar.html**